.App {
    text-align: center;
  }
  .MainContent{
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    background-color: white;
    box-shadow: 0px 1px 2px rgb(165, 161, 161);
    overflow: auto;
    margin-top: 50px;
    height: 100%;
  }